.load-more-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
}